.exp{
    margin: 40px 50px;
    display: flex;
    align-items: center;
}
.exp > *{
    margin: 0px 10px;
}

.exp-title{
    margin: 10px 0px 20px 0px;
    font-size: 28px;
    font-weight: bold;
}

.exp-description{
    font-size: 18px;
    margin-left: 0px;
}